.text-form{
  display: flex;
  justify-content: end;
  align-items: flex-start;
  flex-direction: column;
}
.textform-btn{
  margin: 1%;
  width: auto;
}
.button-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
